html {
    height: 100%;
    
}
body{
    height: 100%;
    
}
.container-fluid {    
    height: 100%;
}


/* LEFT COLUMN */
#left-bar {
    position: sticky;
    height: 100%;
    background-image: url(../images/stars.jpg);
    background-size: contain;
}
#invis {
    z-index: -5;
}


/* Search */
#search-form {
    width: 100%;
}
/* Gif topic buttons */
.topic-btn {
    min-height: 40px;
}

/* Random button */
#random {
    background-image: url(../images/question.png);
    background-size: contain;
}

#toggle-left-open {
    display: none;
}

/* END LEFT COLUMN */

/* Favorites AREA */
.favored {
    height: 40px;
}
.favorites {
    min-height: 200px;
    
}

#favTitle {
    opacity: 1;
}

.animate {
    cursor: pointer;
}
.animate.animate:active {
    cursor: grabbing;
}


/* END Favorites */
.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
 }
 
 #title {
    background-image: url(../images/stars-title.jpg);
    background-size: cover;
 }
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
 }
 
 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 
 @media only screen and (max-width: 768px) {
    .main-title {
       font-size: 3em;
    }
    .favored {
        min-height: 100px;
    }
 }